.profile-page .topic-green {
  color: #37a863;
  font-weight: bold;
}

.profile-page .subtopic-violet {
  color: #7759b5;
}

.profile-page .subtopic-blue {
  color: #3c7ccd;
}

.profile-page .subtopic-orange {
  color: #e87a41;
}

.profile-page .input-black input {
  color: #191919;
}

.profile-page .input-black textarea {
  color: #191919;
}

.profile-page .input-black select {
  color: #191919;
}

.profile-page .text-black {
  color: #191919 !important;
}
